.generic-button {
    -fx-background-color: #CBCBCB;
    -fx-border-color: #5C5C5C;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.15, 1, 1);
}

.generic-button:hover {
    -fx-background-color: #e8e8e8;
}

.generic-button:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.5, 0, 0);
}

.generic-field {
    -fx-border-color: #5C5C5C;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.2, 1, 1);
}

.generic-field:focused {
    -fx-border-color: #55e8ff;
}

.locked-form-field:disabled {
    -fx-opacity: 1.0;
}

.main-menu-button {
    -fx-background-color: #CBCBCB;
    -fx-border-color: #000000;
    -fx-border-radius: 2;
}

.main-menu-button:hover {
    -fx-background-color: #e8e8e8;
}

.main-menu-button:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.5, 0, 0);
}

.sub-menu-box {
    -fx-border-style: none solid none none;
    -fx-border-color: transparent #5C5C5C transparent transparent;
}

.form-cancel-button {
    -fx-background-color: #ffb6b6;
}

.form-cancel-button:hover {
    -fx-background-color: #ffcece;
}

.form-cancel-button:pressed {
    -fx-background-color: #ff4646;
}

.generic-form-label {
    -fx-font-size: 18px;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.combo-box-base:disabled {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.combo-box-base:disabled > * {
    -fx-opacity: 1.0;
}